{% extends 'base.html' %}
{% block content %}
<h2>Report Incident</h2>
<form method="POST">
  <input name="title" class="form-control" placeholder="Title" required><br>
  <textarea name="description" class="form-control" placeholder="Description" required></textarea><br>
  <select name="priority" class="form-control">
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select><br>
  <button class="btn btn-success">Submit</button>
</form>
{% endblock %}
